@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-UltraLight.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.svg#avenir") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Regular.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Medium.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.svg#avenir") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-DemiBold.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBold.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBold.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBold.svg#avenir") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Bold.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.svg#avenir") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Heavy.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.svg#avenir") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.svg#avenir") format("svg");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Italic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.svg#avenir") format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-MediumItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.svg#avenir") format("svg");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.svg#avenir") format("svg");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-BoldItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.svg#avenir") format("svg");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-HeavyItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.svg#avenir") format("svg");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "m_Brody";
	src: url("../fonts/m_Brody/m_Brody.eot?") format("eot"),
		 url("../fonts/m_Brody/m_Brody.woff") format("woff"),
		 url("../fonts/m_Brody/m_Brody.ttf") format("truetype"),
		 url("../fonts/m_Brody/m_Brody.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "StandardPosterCyrillic";
	src: url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.eot?") format("eot"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.woff") format("woff"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.ttf") format("truetype"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

$font-avenir: 'avenir';
$font-Brody: 'm_Brody';
$font-Poster: 'StandardPosterCyrillic';