@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-UltraLight.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLight.svg#avenir") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Regular.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Regular.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Medium.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Medium.svg#avenir") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Demi.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Demi.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Demi.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Demi.svg#avenir") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Bold.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Bold.svg#avenir") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Heavy.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Heavy.svg#avenir") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-UltraLightItalic.svg#avenir") format("svg");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-Italic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-Italic.svg#avenir") format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-MediumItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-MediumItalic.svg#avenir") format("svg");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-DemiBoldItalic.svg#avenir") format("svg");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-BoldItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-BoldItalic.svg#avenir") format("svg");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "avenir";
	src: url("../fonts/avenir/AvenirNextCyr-HeavyItalic.eot?") format("eot"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.woff") format("woff"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.ttf") format("truetype"),
		 url("../fonts/avenir/AvenirNextCyr-HeavyItalic.svg#avenir") format("svg");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "m_Brody";
	src: url("../fonts/m_Brody/m_Brody.eot?") format("eot"),
		 url("../fonts/m_Brody/m_Brody.woff") format("woff"),
		 url("../fonts/m_Brody/m_Brody.ttf") format("truetype"),
		 url("../fonts/m_Brody/m_Brody.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "StandardPosterCyrillic";
	src: url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.eot?") format("eot"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.woff") format("woff"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.ttf") format("truetype"),
		 url("../fonts/StandardPosterCyrillic/StandardPosterCyrillic.svg#avenir") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/fontello.eot?10706296');
  src: url('../fonts/icons/fontello.eot?10706296#iefix') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff2?10706296') format('woff2'),
       url('../fonts/icons/fontello.woff?10706296') format('woff'),
       url('../fonts/icons/fontello.ttf?10706296') format('truetype'),
       url('../fonts/icons/fontello.svg?10706296#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10706296#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '?' */
.icon-minus:before { content: '\e801'; } /* '?' */



$font-avenir: 'avenir';
$font-Brody: 'm_Brody';
$font-Poster: 'StandardPosterCyrillic';