/*
STYLE LG,MD
*/
@media (min-width: $md-width-media) {
	
}

/*
	STYLE LG,MD,SM
*/
@media (min-width: $sm-width-media) {
	.desktop-header{
		max-width: 1920/$fontSize + rem;
		margin: 0 auto;
		padding: 0 (40/$fontSize) + rem;
	}

	.topl-menu{
		float: left;
		nav{
			ul{
				list-style-type: none;
				padding-left: 0px;
				li{
					position: relative;
					display: block;
					float: left;
					overflow: hidden;
					a{
						text-decoration: none;
						font-size: (13/$fontSize) + rem;
						color: $black;
						font-weight: 500;
						display: block;
						padding: 12px 18px;
						position: relative;
						overflow: hidden;
						&:before, &:after{
							content: '';
							position: absolute;
							width: 0%;
							height: 4px;
							background-color: #00b4ae;
							top: 0;
							transition: .3s ease-out;
						}
						&:before{
							left: 49%;
						}
						&:after{
							right: 49%;
						}
						&:hover:before, &:hover:after{
							width: 60%;
						}
					}
				}
				.active{
					a{
						font-weight: 700;
						color: #00b4ae;
						&:after{
							width: 60%;
						}
						
						&:before{
							width: 60%;
						}
					}
					
				}
				
			}
		}
	}

	.topr-menu{
		float: right;
		ul{
			list-style-type: none;
			padding-left: 0px;
			li{
				display: block;
				float: left;
				padding: (12/$fontSize)+rem 0em;
				margin-right: 25/$fontSize + rem;
				a{
					font-size: (12/$fontSize) + rem;
					font-weight: 500;
					color: $black;
					display: block;
					text-decoration: none;
					span.menu-icon{
						display: inline-block;
						position: relative;
						width: 23px;
						text-align: center;
						vertical-align: middle;
						margin-right: 5/$fontSize + rem;
						img{
							display: block;
							margin: 0 auto;
							max-width: 100%;
						}
					}
					&:hover span.menu-icon{
						animation: top_bottom .5s;
						-webkit-animation: top_bottom .5s;
					}
				}
			}
		}
	}
	
	.about-menu-btn{
		float: right;
		padding: (12/$fontSize)+rem 0em;
		cursor: pointer;
		margin-left: (20/$fontSize)+rem;
		.about-menu{
			font-size: (12/$fontSize)+rem;
		}
		.icons-box{
			display: inline-block;
			vertical-align: bottom;
			margin-right: (7/$fontSize)+rem;
			.line-icon{
				display: block;
				width: 18px;
				height: 2px;
				
				background: #fcba12;
				&:not(:last-child){
					margin-bottom: (4/$fontSize)+rem;
				}
			}
			
		}
	}
	
	.s-header{
		margin-top: (14/$fontSize) + rem;
	}
	
	.logo{
		float: left;
		img{
			max-width: 140px;
			transition: .1s ease-out;
		}
	}
	
	.s-help-text{
		font-family: $font-Brody;
		
		font-size: (24/$fontSize)+rem;
		color: #00b4ae;
		margin-left: 2.8%;
		float: left;
		transition: .1s ease-out;
	}
	
	.beep-icon{
		float: left;
		margin-left: 1.8%;
		padding-top: (8/$fontSize) + rem;
		padding-bottom: (8/$fontSize) + rem;
	}
	.s-right-info{
		font-size: 0px;
		float: right;
		.promo-box{
			display: inline-block;
			vertical-align: middle;
			margin-right: (30/$fontSize) + rem;
			margin-top: (4/$fontSize) + rem;
			font-size: (12/$fontSize) + rem;
			font-weight: 500;
			line-height: 2.1;
			color: $black;
			padding-left: (12/$fontSize) + rem;
			padding-right: (12/$fontSize) + rem;
			padding-top: (4/$fontSize) + rem;
			padding-bottom: (4/$fontSize) + rem;
			@include border-radius((58/$fontSize) + rem);
			border: 0.5px solid #b3b3b3;
			cursor: pointer;
		}
		
		.s-col-info{
			display: inline-block;
			vertical-align: middle;
			margin-right: (35/$fontSize) + rem;
			text-align: center;
			.ph-head{
				line-height: (27/$fontSize) + rem;
			}
			.ph-head-link{
				font-size: (18/$fontSize) + rem;
				font-weight: 700;
				color: $black;
				text-decoration: none;
			}
			
			.s-today-work{
				font-size: (12/$fontSize) + rem;
				color: $gray;
			}
		}
		
		.s-callback-btn{
			display: inline-block;
			vertical-align: middle;
			font-size: (12/$fontSize) + rem;
			margin-top: (4/$fontSize) + rem;
			@include border-radius((58/$fontSize) + rem);
			.s-callback-box{
				line-height: (34/$fontSize) + rem;
				padding-left: 15px;
				padding-right: 15px;
				border: solid 0.5px #f5a623;
				@include border-radius((58/$fontSize) + rem);
				cursor: pointer;
				overflow: hidden;
			}
		}		
	}
	
	.t-header{
		margin-top: (13/$fontSize) + rem;
		.t-header-in{
			background-color: rgba(255, 255, 255, 0);
			transition: background-color .2s ease-out;
			
			&.fixed-menu{
				background-color: rgba(255, 255, 255, 1);
				position: fixed;
				border-bottom: 0.01px solid rgba(0,0,0,0.2);
				top: 0;
				z-index: 100;
				width: 100%;
				max-width: (1920/$fontSize) + rem;
				padding: 0rem (40/$fontSize) + rem;
				left: 50%;
				/* top: -100%; */
				@include transform-translateX(-50%);
				transition: background-color .2s ease-out;
				/* transition: top .5s ease-out; */
				&.show{
					/* top: 0;
					transition: top .5s ease-out; */
				}
			}
		}
		.meal-menu{
			float: left;
			padding: (22/$fontSize) + rem 0rem;
			nav{
				ul{
					padding-left: 0px;
					&>li{
						display: block;
						float: left;
						padding: 0px 7px;
						&>a{
							text-decoration: none;
							display: inline-block;
							text-transform: uppercase;
							font-size: (14/$fontSize) + rem;
							color: $black;
							font-weight: 700;
							display: block;
							padding: 2px 4px;
							position: relative;
							z-index: 10;
							overflow: hidden;
							&:hover:after{
								bottom: 0;
							}
						}
						&.active>a{
							color: $red;
							&:after{
								bottom: 0;
							}
						}
						&>a:after{
							content: '';
							position: absolute;
							height: 10px;
							background-color: #ffdea7;
							left: 0;
							right: 0;
							bottom: -100%;
							z-index: -1;
							transition: .2s ease-out;
						}
						&:first-child{
							padding-left: 0px;
						}
						&:last-child{
							padding-right: 0px;
						}
					}
				}
			}
		}
		
		.stock-box{
			float: left;
			margin-left: 3%;
			padding: 16px 0px;
			.stock-link{
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				font-size: (14/$fontSize) + rem;
				font-weight: 700;
				color: $red;
				text-transform: uppercase;
				img{
					display: inline-block;
					vertical-align: bottom;
					margin-right: 6px;
				}
			}
		}
	}
	
	
	
	.t-right-menu{
		float: right;
		padding-top: (8/$fontSize) + rem;
		.login{
			display: inline-block;
			vertical-align: super;
			text-transform: uppercase;
			font-size: (14/$fontSize) + rem;
			font-weight: 700;
			color: $black;
			cursor: pointer;
			img{
				display: inline-block;
				vertical-align: bottom;
				margin-right: 6px;
			}
		}
		
		.m-basket{
			display: inline-block;
			vertical-align: middle;
			margin-left: (20/$fontSize) + rem;
			margin-top: (10/$fontSize) + rem;
			.m-basket-out{
				background: $red;
				cursor: pointer;
				padding: (16/$fontSize) + rem 0rem;
				@include transform-rotate(-2deg);
				padding-left: (12/$fontSize) + rem;
				padding-right: (46/$fontSize) + rem;
				position: relative;
				z-index: 10;
				.m-basket-btn{
					@include transform-rotate(2deg);
					.m-basket-icon{
						display: inline-block;
						width: 25px;
						height: 19px;
						background: url(../images/icons/basket-icon.svg);
						position: relative;
						vertical-align: bottom;
						margin-right: (10/$fontSize) + rem;
						.m-basket-count{
							display: inline-block;
							position: absolute;
							width: 21px;
							line-height: 21px;
							@include border-radius(50%);
							text-align: center;
							background: $orange;
							color: #fff;
							font-size: (12/$fontSize) + rem;
							font-weight: 700;
							top: -12px;
							right: -12px;
						}
					}
					.m-basket-price{
						display: inline-block;
						font-size: (15/$fontSize) + rem;
						font-weight: 700;
						color: #fff;
						line-height: 20px;						
					}
				}
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					background: url(../images/icons/down-button.svg);
					transform: translateY(-50%);
					top: 50%;
					right: 30px;
				}
			}			
		}
	}
	.slider-row{
		margin: 0 auto;
		max-width: (1920/$fontSize) + rem;
	}
	
	.slider-row .main-slider{
		margin-top: -(10/$fontSize) + rem;
	}
	
	.promo-con{
		margin: 0 auto;
		max-width: (1920/$fontSize) + rem;
		padding: 0px (40/$fontSize) + rem;
		padding-bottom: (50/$fontSize) + rem;
		margin-top: - (35/$fontSize) + rem;
		position: relative;
		border-bottom: 1px solid #f1f1f1;
		z-index: 10;
		.promo-row{
			margin-left: -(25/$fontSize) + rem;
			margin-right: -(25/$fontSize) + rem;
			.promo-one{
				width: 33%;
				float: left;
				padding-left: (25/$fontSize) + rem;
				padding-right: (25/$fontSize) + rem;
				.promo-box-out{
					cursor: pointer;
					@include transform-rotate(2deg);
					&.red{
						background: $red;
					}
					&.tirq{
						background: $tirq;
					}
					&.ohra{
						background: $ohra;
					}
					.promo-box-in{
						@include transform-rotate(-2deg);
						position: relative;
						.promo-img{
							position: absolute;
							bottom: 0; 
							left: 1em;
							max-height: (200/$fontSize) + rem;
							max-width: (200/$fontSize) + rem;
							img{
								display: block;
								margin: 0 auto;
								max-width: 100%;
							}
						}
						.promo-title{
							position: absolute;
							color: $white;
							font-family: $font-Poster;
							font-size: (38/$fontSize) + rem;
						}
					}
				}
			}
		}
	}
	
	.category-out{
		max-width: (1920/$fontSize) + rem;
		margin: 0 auto;
		padding: 0 (40/$fontSize) + rem;
		padding-top: (50/$fontSize) + rem;
		.category-left{
			float: left;
			width: 15%;
			position: relative;
			.category-left-box{
				position: absolute;
				top: 0;
				width: 100%;
				/* transition: top .1s ease-out; */
			}
			.category-title{
				color: $black;
				font-size: 36px;
				font-family: $font-Poster;
				margin-bottom: (30/$fontSize) + rem;
			}
		}
		.cat-product{
			float: left;
			width: 85%;
			padding-left: (10/$fontSize) + rem;
			padding-right: (10/$fontSize) + rem;
			.cat-product-row{
				margin-left: (10/$fontSize) + rem;
				margin-right: (10/$fontSize) + rem;
				.cat-product-one{
					float: left;
					padding-left: (10/$fontSize) + rem;
					padding-right: (10/$fontSize) + rem;
					.cat-product-box{
						margin-bottom: (40/$fontSize) + rem;
						position: relative;
						padding-bottom: (40/$fontSize) + rem;
					}
					.cat-product-content{
						padding-left: (20/$fontSize) + rem;
						.cat-product-title{
							font-size: (21/$fontSize) + rem;
							margin-top: (20/$fontSize) + rem;
							margin-bottom: (10/$fontSize) + rem;
							cursor: pointer;
						}
						.cat-product-descr{
							font-size: (12/$fontSize) + rem;
							font-weight: 500;
							color: $gray_oth;
							margin-bottom: (35/$fontSize) + rem;
						}
					}
					
					.cat-product-bottom{
						position: absolute;
						left: (15/$fontSize) + rem;
						right: (15/$fontSize) + rem;
						bottom: 0;
						.cat-product-price{
							display: inline-block;
							float: left;
							vertical-align: middle;
							font-size: (28/$fontSize) + rem;
							line-height: (36/$fontSize) + rem;
							font-family: $font-Poster;
						}
						.cat-product-bas-count{
							display: inline-block;
							float: right;
							vertical-align: middle;
							.cat-product-bas{
								cursor: pointer;
								display: none;
								color: #fff;
								border-radius: (100/$fontSize) + rem;
								line-height: (36/$fontSize) + rem;
								font-weight: 600;
								font-size: (13/$fontSize) + rem;
								padding-left: (20/$fontSize) + rem;
								padding-right: (28/$fontSize) + rem;
								position: relative;
								&:after{
									content: '';
									position: absolute;
									width: 12px;
									height: 12px;
									background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#ffffff" fill-rule="evenodd" d="M10.841 4.841H7.16V1.16a1.159 1.159 0 1 0-2.318 0V4.84H1.16a1.159 1.159 0 1 0 0 2.318H4.84v3.682a1.159 1.159 0 1 0 2.318 0V7.16h3.682a1.159 1.159 0 1 0 0-2.318"/></svg>');
									transform: translateY(-50%);
									right: (10/$fontSize) + rem;
									top: 50%;
									
									transition: transform .2s ease-out;
								}
								&:hover:after{
									transform: rotate(180deg) translateY(50%);
								}
								&.active{
									display: block;
								}
							}
							.cat-product-count{
								display: none;
								&.active{
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
	.category-filter-list{
		&>li{
			&>a{
				display: inline-block;
				padding: (8/$fontSize) + rem (10/$fontSize) + rem;
				/* margin-bottom: (4/$fontSize) + rem; */
				border-radius: (18/$fontSize) + rem;
				&:hover{
					background-color: rgba(0,0,0,0.02);
				}
			}
			&.active{
				&>a{
					
				}
			}
		}
	}
	
	.cat-product-img{
		display: table;
		width: 100%;
		cursor: pointer;
		.cat-product-img-in{
			display: table-cell;
			height: (200/$fontSize) + rem;
			vertical-align: middle;
			text-align: center;
			padding: 0 (10/$fontSize) + rem;
			.cat-product-i{
				display: inline;
			}
			img{
				max-height: 85%;
			}
		}
	}
}

/*
	STYLE XS,SM
*/

@media (max-width: $md-width-media - 1px) {
	
}

/*
	STYLE XS,SM,MD
*/

@media (max-width: $lg-width-media - 1px) {
	
}