/*
STYLE LG,MD
*/
@media (min-width: 992px) {
	
}

/*
	STYLE LG,MD,SM
*/
@media (min-width: 768px) {
	.topl-menu{
		nav{
			ul{
				list-style-type: none;
				padding-left: 0px;
				li{
					position: relative;
					display: block;
					float: left;
					overflow: hidden;
					a{
						text-decoration: none;
						font-size: 13px;
						color: $black;
						font-weight: 500;
						display: block;
						padding: 12px 18px;
						position: relative;
						overflow: hidden;
						&:before, &:after{
							content: '';
							position: absolute;
							width: 0%;
							height: 4px;
							background-color: #00b4ae;
							top: 0;
							transition: .3s ease-out;
						}
						&:before{
							left: 49%;
						}
						&:after{
							right: 49%;
						}
						&:hover:before, &:hover:after{
							width: 60%;
						}
					}
				}
				.active{
					a{
						font-weight: 700;
						color: #00b4ae;
						&:after{
							width: 60%;
						}
						
						&:before{
							width: 60%;
						}
					}
					
				}
				
			}
		}
	}

	.topr-menu{
		float: left;
		ul{
			list-style-type: none;
			li{
				display: block;
				float: left;
				padding: 12px 0px;
				margin-right: 25px;
				a{
					font-size: 12px;
					font-weight: 500;
					color: $black;
					display: block;
					text-decoration: none;
					span.menu-icon{
						display: inline-block;
						position: relative;
						width: 23px;
						text-align: center;
						vertical-align: middle;
						margin-right: 5px;
						img{
							display: block;
							margin: 0 auto;
							max-width: 100%;
						}
					}
					&:hover span.menu-icon{
						animation: top_bottom .5s;
						-webkit-animation: top_bottom .5s;
					}
				}
			}
		}
	}
	
	.about-menu-btn{
		float: right;
		padding: 12px 0px;
		cursor: pointer;
		.about-menu{
			font-size: 12px;
		}
		.icons-box{
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			.line-icon{
				display: block;
				width: 18px;
				height: 2px;
				margin-bottom: 4px;
				background: #fcba12;
			}
		}
	}
}

/*
	STYLE XS,SM
*/

@media (max-width: 991px) {
	
}

/*
	STYLE XS,SM,MD
*/

@media (max-width: 1199px) {
	
}