@media (min-width: $sm-width-media) and (max-width: $md-width-media - 1px) {
	/* $fontSize: 10; */
	html{
		font-size: $fontSize + px;
	}
	
	body{
		font-size: $fontSize + px;
	}
	
	.about-menu-btn{
		margin-left: 0px;
	}
	
	.topr-menu{
		ul{
			li{
				margin-right: 1rem;
			}
		}
	}
	
	.logo{
		line-height: 52px;
	}
	
	.logo img{
		max-width: 100px;
		
	}
	
	.beep-icon{
		display: none;
	}
	.cat-product-one{
		width: 33.3333%;
	}
	
	.s-help-text{
		font-size: 1rem;
	}
	
	
}	