$fontSize:16;

$black: #181818;

$orange: #fdba12;

$gray: #7b7b7b;

$gray_oth: #878787;

$red: #e54b21;

$tirq: #00b5af;

$ohra: #fff4e4;

$white: #ffffff;

html{
	font-size: 16px;
}

body{
	font-family: $font-avenir;
	font-weight: 400;
	color: $black;
	font-size: $fontSize + px;
}

img{
	max-width: 100%;
}

#preLogo{
	width: 140px;
	height: 52px;
	transform: scale(1);
	transition: .1s ease-out;
	&.preLogo-ready{
		transform: scale(0);
	}
	&.preLogo-readyNext{
		transform: scale(1);
	}
	&.preLogo-readyNext{
		.first, .second, .third, .fourth, .fifth{
			fill-opacity: 1;
			stroke-width: 0;
		}
		.fifth{
			fill: #000000;
		}
	}
	.first{
		stroke: #28702A;
		fill: #28702A;
		fill-opacity: 0.1;
	}
	.second{
		stroke: #FDBA12;
		fill: #FDBA12;
		fill-opacity: 0.1;
	}
	.third{
		stroke: #E54A21;
		fill: #E54A21;
		fill-opacity: 0.1;
	}
	.fourth{
		stroke: #00B4AE;
		fill: #00B4AE;
		fill-opacity: 0.1;
	}
}

.main-slider.owl-carousel.owl-loaded{
	display: inline-block;
}

.slider-row{
	.owl-dots{
		text-align: center;
		position: relative;
		top: -(50/$fontSize) + rem;
		.owl-dot{
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #fff;
			position: relative;
			@include border-radius(50%);
			&:not(:last-child){
				margin-right: 15px;
			}
			&.active{
				background: $orange;
			}
		}
	}
}

.category-filter-list{
	padding-left: 0;
	list-style-type: none;
	&>li{
		&>a{
			text-decoration: none;
		}
		&.active{
			&>a{
				color: #fff!important;
			}
		}
	}
}