$fontSize:16;

$black: #181818;

$orange: #fdba12;

$gray: #7b7b7b;

$gray_oth: #878787;

$gray_ad: #adadad;

$red: #e54b21;

$tirq: #00b5af;

$ohra: #fff4e4;

$white: #ffffff;

$beige: #fff3e2;

html{
	font-size: 16px;
}

body{
	font-family: $font-avenir;
	font-weight: 400;
	color: $black;
	font-size: $fontSize + px;
}

img, svg{
	max-width: 100%;
	display: block;
}

#preLogo{
	width: 140px;
	height: 52px;
	transform: scale(1);
	transition: .1s ease-out;
	&.preLogo-ready{
		transform: scale(0);
	}
	&.preLogo-readyNext{
		transform: scale(1);
	}
	&.preLogo-readyNext{
		.first, .second, .third, .fourth, .fifth{
			fill-opacity: 1;
			stroke-width: 0;
		}
		.fifth{
			fill: #000000;
		}
	}
	.first{
		stroke: #28702A;
		fill: #28702A;
		fill-opacity: 0.1;
	}
	.second{
		stroke: #FDBA12;
		fill: #FDBA12;
		fill-opacity: 0.1;
	}
	.third{
		stroke: #E54A21;
		fill: #E54A21;
		fill-opacity: 0.1;
	}
	.fourth{
		stroke: #00B4AE;
		fill: #00B4AE;
		fill-opacity: 0.1;
	}
}

.main-slider.owl-carousel.owl-loaded{
	display: inline-block;
}

.slider-row{
	.owl-dots{
		text-align: center;
		position: relative;
		top: -(50/$fontSize) + rem;
		.owl-dot{
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #fff;
			position: relative;
			@include border-radius(50%);
			&:not(:last-child){
				margin-right: 15px;
			}
			&.active{
				background: $orange;
			}
		}
	}
}

.category-filter-list{
	padding-left: 0;
	list-style-type: none;
	&>li{
		&>a{
			text-decoration: none;
		}
		&.active{
			&>a{
				color: #fff!important;
			}
		}
	}
}

.plus-icon{
	width: 12px;
	height: 12px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#E54B21" fill-rule="evenodd" d="M10.841 4.841H7.16V1.16a1.159 1.159 0 1 0-2.318 0V4.84H1.16a1.159 1.159 0 1 0 0 2.318H4.84v3.682a1.159 1.159 0 1 0 2.318 0V7.16h3.682a1.159 1.159 0 1 0 0-2.318"/></svg>');
	transition: .3s ease-out;
}

.categories-row{
	transition: .5s ease-out;
}

.categories-row.scaled{
	transform: scale(0.95);
	opacity: 0.6;
}

.cart-row{
	position: relative;
	z-index: 110;
	transition: all .5s ease-out;
}

/* .cart-box.fixed_cart{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
} */

.cart-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
	top: 0;
	left: 0;
	z-index: 105;
	display: none;
}

footer{
	position: relative;
	z-index: 110;
}