@media (min-width: $lg-width-media) {
	.s-help-text{
		margin-left: 4vw;
	}
	
	
	.s-right-info{
		.promo-box{
			margin-right: 3vw;
		}
		.s-col-info{
			margin-right: 3vw;
		}
	}
	
	
	.cat-product-one{
		width: 25%;
	}
}